@keyframes showing {
    0% {
        visibility: visible;
        opacity: .2;
    } 50% {
        opacity: .7;
    } 100% {
        opacity: .2;
        visibility: hidden;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    } 
}