<div class="container">
    <div class="row unselected">
    <div class="col s10 m6 push-s1 push-m3">
        
        <h4>Cadastrar Funcionário</h4>
        <hr>

        <a href="/admin/dashboard" class="btn blue-grey darken-4 top-22- bottom-50"><i class="fas fa-angle-left"></i> Voltar</a>
        
        <form action="/admin/user/cadastro" method="post">

            <div class="input-field col s12">
                <input name="nome" id="nome" type="text">
                <label for="nome">Nome</label>
            </div>

            <div class="input-field col s12">
                <input name="ident" id="ident" type="text" placeholder="Telefone | Email">
                <label for="ident">Identificador</label>
            </div>

            <div class="input-field col s12">
                <input name="morada" id="morada" type="text">
                <label for="morada">Morada</label>
            </div>

            <div class="input-field col s12">
                <input name="senha" id="senha" type="password">
                <label for="senha">Senha</label>
            </div>

            <div class="input-field col s12">
                <input name="conf_senha" id="conf_senha" type="password">
                <label for="conf_senha">Confirme a Senha</label>
            </div>

            <div class="col s12">
                <p class="top-20-">
                    <label>
                        <input type="checkbox" onclick="modoLimpo()" />
                        <span>Ver Senha</span>
                    </label>
                </p>
            </div>

            <div class="col s12 top-20">
                <button class="btn waves-effect w-100">Cadastrar</button>
            </div>
        </form>
    </div>
</div>


<div class="row unselected">
    <div class="col s10 m6 push-s1 push-m3">
        {{#each erros}}
        <div class="error_msg card red lighten-2 white-text center">
            <p class="flash-msg">
                {{texto}}
            </p>
        </div>
        {{else}}

        {{/each}}
    </div>
</div>

<div class="row top-100 center unselected">
    <div class="col s6 m4 push-s3 push-m4 top-50">
        <h6 class="center">Já Possui uma Conta?</h6>
        <br>
        <a href="/user/login" class="btn waves-effect blue-grey darken-3">Entrar</a>
  </div>
</div>
</div>